@page
@model IndexModel
@{
    ViewData["Title"] = "skrt";
}

<div class="text-center">
    <h1 class="display-4">Animals are friends</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>They are cute</h2>
            <ul class="list-unstyled">
                    <li class="media">
                        <img class="minClasse" src="https://lh5.googleusercontent.com/proxy/B1PLQZuH1aSQFxV__rDDYd3mDAbsFtMe6HCFYnirMA1GZ9V005I14BTOVfLKQ7Tm4F4VPN3qCyw9ZPBERu1OMpDN14OlXw6fBKb3ZOH7oQ4oIBvb65iTiL5GtNZ6Ll413ig?fit=scale" alt="Turtle">
                            <div class="media-body">
                              <h3 class="mt-0 mb-1">Turtle</h3>
                             <em>Turtles are reptiles of the order Testudines characterized by a special bony or cartilaginous shell developed from their ribs and acting as a shield.</em>
                            </div>
                          </li>
                <li class="media">
                    <img class="minClasse" src="https://lh6.googleusercontent.com/proxy/ulbYKoePlwYAeQRHTqzKMgN4J4vUbP-dlVaB6u_dGqCWBOxcgSKnfrJcLl8Rk0wlIDQfkx367ZYPYYBVMMWUfgX0KVrsBvhJxEK4ppqJE1KbzIqEzdWuLf55JmE" alt="Cat">
                    <div class="media-body">
                        <h3 class="mt-0 mb-1">Cat</h3>
                        <em>The cat (Felis catus) is a small carnivorous mammal. It is the only domesticated species in the family Felidae and often referred to as the domestic cat to distinguish it from wild members of the family.</em>
                    </div>
                </li>
                          <li class="media">
                            <img class="minClasse" src="https://image.flaticon.com/icons/png/128/1998/1998668.png" alt="Guinea pig">
                            <div class="media-body">
                                <h3>Guinea pig</h3>
                                <em>The guinea pig or domestic guinea pig (Cavia porcellus), also known as cavy or domestic cavy, is a species of rodent belonging to the family Caviidae and the genus Cavia.</em>
                            </div>
                          </li>
                    
                </ul>
        </div>
        <div class="col-6">
            <h2>They are kind</h2>
            <ol>
                <li>
                    <img class =minClasse src="https://cdn4.iconfinder.com/data/icons/racoon/512/emoji_emoticon_sticker_smiley_racoon_happy_hug-512.png" alt="Hug">
                    <div class="media">
                        <h3>They hug</h3>
                    </div>
                </li> 
                <li>
                    <img class="minClasse" src="https://image.freepik.com/free-vector/couple-shiba-inu-fall-love-icon-dog-love-animal-icon-white-isolated_138676-534.jpg" alt="love">
                    <div class="media">
                        <h3>They love</h3>
                    </div>
                </li>
                <li>
                    <img class="minClasse" src="https://marketplace.canva.com/MADr0PFSKQk/1/thumbnail_large/canva-cute-little-cat-playing-with-ball-fill-style-icon-MADr0PFSKQk.png" alt="Play">
                    <div class="media">
                        <h3>They play</h3>
                    </div>
                </li>
                
            </ol>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <strong>Animals are multicellular eukaryotic organisms that form the biological kingdom Animalia. </strong>
            <p> With few exceptions, animals consume organic material, breathe oxygen, are able to move, can reproduce sexually, and grow from a hollow sphere of cells, the blastula, during embryonic development. </p>
        </div>
        <div class="col-6">
            <strong>Most living animal species are in the Bilateria, a clade whose members have a bilaterally symmetric body plan.</strong>
            <p> The Bilateria include the protostomes—in which many groups of invertebrates are found, such as nematodes, arthropods, and molluscs—and the deuterostomes, containing both the echinoderms as well as the chordates, the latter containing the vertebrates. </p>    
        </div>  
    </div>
    
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Rodentia</th>
            <th scope="col">Chiroptera</th>
            <th scope="col">Soricomorpha</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Mice</td>
            <td>Microbats</td>
            <td>Golden moles</td>
        </tr>
        <tr>
            <td>Squirrels</td>
            <td>Megabats</td>
            <td>Hedgehogs</td>
        </tr>
        </tbody>
    </table>
</div>