@model Guestbook


@{
    ViewData["Title"] = "Henriette";
}
    
    <div class="row">
        <div class="m-3">
            <p> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id eu nisl nunc mi. Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Auctor neque vitae tempus quam pellentesque nec nam. Convallis aenean et tortor at risus viverra adipiscing at. Porta nibh venenatis cras sed. Vitae tortor condimentum lacinia quis. Pulvinar elementum integer enim neque. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Odio morbi quis commodo odio aenean sed adipiscing. Ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Orci dapibus ultrices in iaculis nunc sed augue lacus. Blandit volutpat maecenas volutpat blandit aliquam etiam. Egestas diam in arcu cursus euismod quis viverra nibh cras. Laoreet suspendisse interdum consectetur libero. Vulputate enim nulla aliquet porttitor. Interdum consectetur libero id faucibus nisl tincidunt eget nullam non. Sit amet luctus venenatis lectus magna.
            </p>
                            
                
        </div>
        <div class="m-3">
                            <p > 
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id eu nisl nunc mi. Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Auctor neque vitae tempus quam pellentesque nec nam. Convallis aenean et tortor at risus viverra adipiscing at. Porta nibh venenatis cras sed. Vitae tortor condimentum lacinia quis. Pulvinar elementum integer enim neque. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Odio morbi quis commodo odio aenean sed adipiscing. Ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Orci dapibus ultrices in iaculis nunc sed augue lacus. Blandit volutpat maecenas volutpat blandit aliquam etiam. Egestas diam in arcu cursus euismod quis viverra nibh cras. Laoreet suspendisse interdum consectetur libero. Vulputate enim nulla aliquet porttitor. Interdum consectetur libero id faucibus nisl tincidunt eget nullam non. Sit amet luctus venenatis lectus magna.
                                </p>
        </div>
    </div>




